@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;200;300;400;500;600;700&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1354px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.container-2 {
  width: 100%;
  max-width: 1204px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 18px;
}

.nav-list {
  list-style-type: none;
  display: flex;
}
.nav-item {
  margin-right: 25px;
  transition: 0.3s;
}

.nav-item:nth-child(6) {
  margin-right: 63px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item-link {
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}

.nav-item-link-btn {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 12px 13px 12px 14px;
  background: #00D465;
  text-decoration: none;
  border-radius: 5px;
}

.nav-item-btn:hover {
  transform: scale(1.15);
}

.nav-item-btn:active {
  transition: 0.1s;
  transform: scale(1);
  background-color: #17663d;
}


.man-img {
  background-image: url(../img/Group\ 265.svg);
  background-size: contain;
  background-position: top center;
  text-align: right;
  background-repeat: no-repeat;
  height: 570px;
}

.man-wrapper {
  padding-top: 70px;
}

h1 {
  width: 533px;
  margin-left: auto;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-align: right;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.man-text {
  width: 514px;
  margin-left: auto;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  text-align: right;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.man-free-text {
  display: flex;
  justify-content: right;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  text-align: right;
  color: #FFFFFF;
  margin-bottom: 14px;
}

.man-free-first-text {
  margin-right: 20px;
}

.man-last-text {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  text-align: right;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.man-btn {
  width: 169px;
  height: 49px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  background: #00D465;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.man-btn:hover {
  transform: scale(1.15);
}

.man-btn:active {
  transition: 0.1s;
  transform: scale(1);
  background-color: #17663d;
}

.man-footer-box {

}

.man-aksiya {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #00D465;
  width: 443px;
  padding: 22px 0 23px;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #00D465;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 0 auto;
  transform: translateY(-85px);
}

.cards-head-text-span {
  color: #00D465;
}

.cards-head-text {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 46px;
  text-align: center;
  color: #000000;
}

.card-list {
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}
.card-item {
  width: 195px;
  height: 273px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(32, 38, 71, 0.25);
  border-radius: 10px;
  text-align: center;
  margin-bottom: 77px;
}

.card-item:nth-child(5) {
  margin-bottom: 109px;
}
.card-item:nth-child(6) {
  margin-bottom: 109px;
}
.card-item:nth-child(7) {
  margin-bottom: 109px;
}
.card-item:nth-child(8) {
  margin-bottom: 109px;
}

.card-item-img {
  margin-bottom: 18px;
  margin-top: 15px;
}
.card-item-first-word {
  height: 34px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin-bottom: 10px;
}
.card-item-text {
  width: 165px;
  height: 71px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  margin: 0 auto;
  margin-bottom: 20px;
}
.card-item-pul {
  margin-bottom: 10px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}
.card-item-btn {
  padding: 7px 41px 8px 39px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  background: #00D465;
  border-radius: 5px;
  border: none;
}

.container-3 {
  width: 100%;
  max-width: 1014px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.buy-img {
  background-image: url(../img/Rectangle\ 1293.svg) ;
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  height: 400px;
  padding-top: 40px;
  box-shadow: inset 10px 10px 0 500px rgba(0, 0, 0, 0.432);
}

.container-4 {
  width: 100%;
  max-width: 1050px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.buy-text {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 34px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.t-area {
  outline: none;
  padding: 20px 0 0 20px;
  background: #FFFFFF;
  border: 2px solid #D6D6D6;
  border-radius: 10px;
  max-width: 630px;
  min-width: 630px;
  max-height: 210px;
  min-height: 210px;
  margin-right: 33px;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select {
  width: 340px;
  margin-right: auto;
  padding: 18px 23px 18px 16px;
  background: #FFFFFF;
  border: 2px solid #D6D6D6;
  border-radius: 10px;
  outline: none;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #666666;
  border: none;
}

.tel-inp {
  width: 340px;
  margin-right: auto;
  padding: 18px 23px 18px 16px;
  background: #FFFFFF;
  border: 2px solid #D6D6D6;
  border-radius: 10px;
  outline: none;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #666666;
  border: none;
}

.buy-btn {
  width: 340px;
  padding: 19px 23px 19px 16px;
  background: #00D465;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
}

.buy-last-wrap {
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}